.inbox{
    /* background-color: bisque; */
    min-height: 400px;
    margin: 15px 0px;
}
.inbox1{
    /* background-color: purple; */
    min-height: 50px;
    margin: 10px 0px;
}
.inbox2{
    /* background-color: bisque; */
    min-height: 300px;
    margin: 10px 0px;
}
.inbox3{
    /* background-color: purple; */
    min-height: 300px;
    margin: 10px 0px;
   
}
.inbox4{
    /* background-color:whitesmoke; */
   min-height: 70px;
    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.inbox5{
    /* background-color: palevioletred; */
    min-height: 400px;
    margin: 15px 0px;
    text-align: center;
}
.inbox6{
  
    min-height: 70px;
    margin: 10px 0px;
    text-align: center;
}
.inbox7{
    /* background-color: purple; */
   min-height: 70px;
    margin: 10px 0px; 
}
.inbox8{
    /* background-color:pink; */
    min-height: 300px;
    margin: 10px 0px;
    text-align: center;
}
.inbox9{
    /* background-color: cadetblue; */
    min-height: 50px; 
    margin: 10px 0px ;
}
.inbox10{
    /* background-color:lightcoral; */
    min-height: 50px;
    margin: 10px 0px ;
    text-align: center;
}
.sec1{
     background-image: url(image.jpg);
    background-size: cover;
    background-position: right;
    
}
.sec3{

    background-size: 200px auto;
    background-position: top left;
    background-repeat: no-repeat;

}
.banner{
    padding: 8rem 3rem;
}
.xx{
    color:white;
    margin-top: 15px;
    display: inline-block;
}
.hyper{
   text-decoration: none;
   color: black;
}
.class3{
    margin: 5px;
    color: black;
    text-decoration: none;
}.ip{
    padding: top;
}
.ttt{
    color: red;
}
.jjj{
    color: red;
}
.mmm{
    color: red;
}
.mm1{
    text-decoration: underline;
    padding: 20px 0px;
    text-align: center;
}
.mm2{
    padding: 20px 0px;
    text-align: center;  
}
.mm3{
    padding: 20px 0px;
    text-align: center;   
}
.ee1{
    padding: 20px 0px;
    text-align: center; 
    text-decoration: underline;
}
.ee2{
    padding: 20px 0px;
    text-align:center;   
}
.ee3{
    padding: 20px 0px;
    text-align:center;    
}
.eee{
    color: red;
}
.ddd{
    font-size: medium;  
    background-color: red;
    display: inline;
    text-align: center;
}
.dd2{
   padding: 10px 20px;
   text-align: center;
}
.aaa{
    text-align: center;
    padding: 40px 20px;
}
.kkk{
    height: 180px;
    border-radius: 50%;
    background-size: cover;
 
}
.zzz{
    height: 180px;
    border-radius: 50%;
    background-size: cover;

}
.hhh{
    height: 180px;
    border-radius: 50%;
    background-size: cover;

}
.ram{
    text-align: center;
}
.dd1{
    color: white;
}
.kkk{
    height: 150px;
    width: 150px;
    border-radius: 80%;
    background-size: cover;
}
.mm7{
    background-image: url(man.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.qq1{
    background-image: url(mob.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.inbox9{
    text-align: center;
}
.bb3{
    color: gray;
}
